/* 网页中重复出现的样式，相同的模块 */

/* 网页背景色 */

body {
    background-color: #e9eaed;
}

/* 版心 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 圆角 */

.radius {
    border-radius: 15px 15px;
}

/* 头部 */

.header {
    margin-bottom: 20px;
    padding: 5px 0;
    width: 100%;
    height: 60px;
    background-color: #1c1c1c;
}

/* logo */
.logo {
    margin-left: 30px;
    float: left;
    margin-right: 60px;
    height: 50px;
    line-height: 50px;
}

.logo a {
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

/* 导航 */
.nav {
    float: left;
    height: 50px;
    line-height: 50px;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    padding: 0 20px;
    color: #fff;
}

/* 版权 */

.footer {
    margin-top: 20px;
    width: 100%;
    height: 190px;
    background-color: #1c1c1c;
}

/* 返回顶部 */
.footer .stop {
    display: block;
    position: fixed;
    right: 4%;
    bottom: 30px;
    width: 50px;
    height: 60px;
    background-color: #fff;
    border-radius: 30% 30% 70% 70%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 900;
}
