/* 首页样式 */

/* 内容 */

/* 内容左侧 */

.lbox {
    float: left;
    width: 900px;
    height: 100%;
    /* background-color: pink; */
}

/* banner图 */
.banner {
    margin-bottom: 20px;
    width: 100%;
    height: 260px;
}

/* 轮播图片 */
.banner .left {
    float: left;
    width: 616px;
    height: 100%;
}

.banner .left img {
    width: 616px;
    height: 260px;
}

/* 轮播目录 */
.banner .right{
    float: right;
    width: 270px;
    height: 100%;
}

.banner .right a {
    margin-bottom: 5px;
    display: block;
    width: 270px;
    height: 48px;
    background-color: #fff;
    text-align: center;
    line-height: 48px;
}

/* 精彩专栏 */
.wond {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.wond .hd {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.wond .hd ul {
    float: right;
}

.wond .hd li {
    float: left;
}

.wond .hd a {
    border-right: 2px solid #eaeaea;
    padding: 0 10px;
    font-size: 15px;
}

.wond .hd li:last-child a {
    border-right: none;
}

.wond .bd ul {
    float: left;
}

.wond .bd li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    float: left;
    width: 280px;
    height: 287px;
    background-color: pink;
}

.wond .bd li:nth-child(3n) {
    margin-right: 0;
}

.wond .bd img {
    width: 240px;
}

.wond .bd h3 {
    margin: 10px 0;
    padding-left: 8px;
    width: 100%;
    height: 19px;
    line-height: 19px;
    font-size: 16px;
}

.wond .bd p {
    margin-bottom: 10px;
    color: #999;
}

.wond .bd .particulars {
    padding-left: 8px;
    color: #063;
}

.wond .bd span {
    margin-left: 8px;
}

/* 站内推荐广告 */
.lbox .tui_banner {
    margin-bottom: 20px;
    width: 100%;
    height: 170px;
    background-color: #fff;
}

/* 最新发布 */
.newest {
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.newest .hd {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.newest .bd li {
    margin-bottom: 10px;
    border-bottom: 1px dashed #eee;
    padding: 10px;
    width: 100%;
    height: 197px;
}

.newest .bd h3 {
    margin-bottom: 10px;
    width: 100%;
    height: 26px;
}

.newest .bd h3 a {
    margin-left: 10px;
    font-size: 18px;
}

.newest .bd .content {
    position: relative;
    width: 100%;
    height: 140px;
}

.newest .bd .content .left {
    float: left;
    margin-right: 20px;
}

.newest .bd .content .right {
    float: right;
    width: 620px;
    height: 140px;
    color: #999;
}

.newest .bd .content p {
    margin: 20px 0;
}

.newest .bd .content .right .content {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 60px;
    height: 30px;
    background-color: darkturquoise;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

/* 内容右侧 */

.rbox {
    float: right;
    width: 282px;
    height: 100%;
}

/* 公告栏 */
.rbox .notice {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    height: 260px;
    background-color: #fff;
}

.rbox .notice dt {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.rbox .notice dd {
    position: relative;
    margin: 14px 0;
}

.rbox .notice dd a {
    display: block;
    padding: 4px 12px 4px 30px;
    width: 100%;
    height: 30px;
    background-color: #eee;
    font-size: 12px;
    line-height: 22px;
}

.rbox .notice dd a::before {
    position: absolute;
    left: 13px;
    top: 5px;
    content: "•";
    font-size: 20px;
}

/* 热门排行 */
.hot {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.hot h2 {
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}

.hot img {
    margin: 20px 0;
    width: 242px;
}

.hot li {
    margin-bottom: 10px;   
}

.hot li a {
    position: relative;
    display: block;
    border-radius: 10px;
    padding-left: 32px;
    width: 100%;
    height: 30px;
    background-color: #eee;
    line-height: 30px;
}

.hot li span{
    position: absolute;
    left: 8px;
    top: 6px;
    margin-right: 12px;
    margin-top: 1px;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: rgb(187, 187, 187);
    text-align: center;
    line-height: 16px;
    font-size: 9px;
    color: #fff;
}

.hot li:nth-child(-n+3) span {
    background-color: #FF6600;
}

/* 推荐阅读 */

.tuijian {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.tuijian h2 {
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}

.tuijian img {
    margin: 20px 0;
    width: 242px;
}

.tuijian li {
    margin-bottom: 10px;   
}

.tuijian li a {
    display: block;
    position: relative;
    border-radius: 10px;
    padding-left: 60px;
    width: 100%;
    height: 60px;
    background-color: #eee;
}

.tuijian li span::after {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-image: url(../uploads/newest-01.jpg);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    content: "";
}

.tuijian li p {
    display: inline-block;
    margin-top: 10px;
    padding: 0 7px;
    line-height: 20px;
    text-indent: 0;
    font-size: 14px;
}

/* 网站简介 */
.intro {
    padding: 20px;
    width: 100%;
    height: 350px;
    background-color: #fff;
}

.intro h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}

.intro p {
    display: inline-block;
    width: 100%;
}